<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>welcome</title>
</head>
<body>
	<fieldset>
	<div align="center">
		<h1>Welcome</h1>
		<br>
		<br>
		<h2>To check your details <a href="accno">click here</a></h2>
		<br>
		<h2>To withdraw Amount <a href="withdrawamt">click here</a><h2>
		<br>
		<h2>To deposite amount <a href="depositeamt">click here</a></h2>
		<br>
		<h1><a href="/">Login Page</a></h1>
		
	</div>
</fieldset>


</body>
</html>