<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Account</title>
</head>


<div align="center">
	<fieldset>
		<h1>Enter your Details</h1>
		<form action="adduser" method="POST">
			<table>
				<tr>
					<td>CustomerName</td>
					<td><input type="text" name="cname" required></td>
				</tr>
				<tr>
					<td>AccountNumber </td>
					<td><input type="text" name="accno" required></td>
				</tr>
				<tr>
					<td>DateOfBirth </td>
					<td><input type="date" name="dob" required></td>
				</tr>
				<tr>
					<td>Contact </td>
					<td><input type="text" name="contact" required></td>
				</tr>
				<tr>
					<td>Address </td>
					<td><input type="text" name="address" required></td>
				</tr>
				<tr>
					<td>Balance </td>
					<td><input type="text" name="balance" required></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="Save"></td>
					<td><input type="reset" value="Reset"></td>
				</tr>
			</table>
		</form>
		<h1><a href="/">Home Page</a></h1>
		
	</fieldset>
</div>